---
import logoImage from '~/assets/images/logo.png';
---

<span class="flex items-center">
  <img 
    src={logoImage.src} 
    alt="tattva-3d logo" 
    class="h-8 w-8 mr-2"
    width="32"
    height="32"
  />
  <span class="text-xl font-bold text-gray-900 dark:text-white">
    tattva-3d
  </span>
</span>
